<div class="main">
    <h1 class="containerTitle">Ambassador Login</h1>
    <a class="logoContainer" href="/">
        <img id="welcomeLogo" src="/images/tu_tiger.svg">
    </a>

    <form class="">
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <button type="submit"class="navBtn">Login</button>
    </form>

</div>