<div class="main">
    <h1 class="containerTitle">Ambassador Register</h1>
    <a href="/">
        <img id="welcomeLogo" src="/images/tu_tiger.svg">
    </a>

    <form>
        <div class="row">
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="confirmPassword" type="password" class="validate">
                <label for="confirmPassword">Confirm Password</label>
            </div>
        </div>
        <button type="submit"class="navBtn">Register</button>
    </form>

</div>