<div id="successMain" class="main">
    <a class="logoContainer" href="/">
        <img class="welcomeLogo" id="logoVerify" src="/images/tu_tiger.svg">
    </a>
    <h1>Your Tour Request Has Been Submitted</h1>
    <ul>
        <li>Name: <%= tour.name %></li>
        <li>Date: <%= tour.date %></li>
        <li>Time: <%= tour.time %></li>
    </ul>
    <h2>Your Tour Guide Will Be In Contact Shortly</h2>
</div>