<div class="main">
    <h1 class="containerTitle">Welcome To the Tuskegee University Tour Scheduler</h1>
    <img id="welcomeLogo" src="/images/tu_tiger.svg">
    <a class="buttonContainer" href="tours/reqTour">
        <button class="navBtn" id="tourRequest">Request Tour</button>
    </a>
    <a class="buttonContainer" href="users/login">
        <button class="navBtn" id="showLogin">Ambassador Login</button>
    </a>
    <a class="buttonContainer" href="users/register">
        <button class="navBtn" id="showRegister">Ambassador Register</button>
    </a>
</div>