html,
body {
    /* background: url(../images/45-degree-fabric-light.png) no-repeat; */
    background-color: rgb(134, 24, 24);
    width: 100%;
    height: 100%;
}

/* Universal Styles */
.main {
    display: flex;
    flex-direction: column;
    width: 50%;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    outline: groove rgb(239, 164, 39);
    background-color: white;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
}

#tourReqMain {
    margin-top: 20%;
}

#welcomeLogo {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 5%;
}

.navBtn {
    display: block;
    width: 100%;
    height: 4vmin;
    margin: 0 auto;
    margin-bottom: 2%;
    color: rgb(134, 24, 24);
    font-size: 3vmin;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(239, 164, 39);
}

.containerTitle {
    color: rgb(134, 24, 24);
    font-size: 7vmin;
}

.logoContainer {
    width: fit-content;
    margin: 0 auto;
}

.buttonContainer {
    text-decoration: none;
    width: fit-content;
    margin: 0 auto;
}

/* Date Modal Styles */
.datepicker-modal {
    width: max-content !important;
    top: 50% !important;
    position: absolute !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

/* Time Modal Styles */
.timepicker-modal {
    width: max-content !important;
    top: 50% !important;
    position: absolute !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.timepicker-canvas line {
    stroke: rgb(134, 24, 24) !important;
}

.timepicker-canvas-bg,
.timepicker-canvas-bearing {
    fill: rgb(134, 24, 24) !important;
}

.datepicker-date-display {
    background-color: rgb(134, 24, 24) ;
}

.timepicker-digital-display {
    background-color: rgb(134, 24, 24);
}

.waves-effect {
    color: rgb(239, 164, 39) !important;
}

.datepicker-day-button {
    color: rgb(239, 164, 39) !important;
}

.datepicker-table td.is-selected {
    color: rgb(239, 164, 39) !important;
    background-color: rgb(134, 24, 24) !important;
}

.datepicker-controls {
    color: rgb(134, 24, 24) !important;
}

svg:not(:root) {
    color: rgb(239, 164, 39) !important;
}

/* input styles: text, email, and number */
.input-field label {
    color: rgb(239, 164, 39) !important;
}

.input-field input:focus+label {
    color: rgb(134, 24, 24) !important;
}

.input-field input:focus {
    border-bottom: 1px solid rgb(134, 24, 24) !important;
    box-shadow: 0 1px 0 0 rgb(134, 24, 24) !important;
}

/* Select Styles */
.dropdown-content li>a,
.dropdown-content li>span {
    color: rgb(239, 164, 39) !important;
}

/* valid input styles */
.input-field input.valid {
    border-bottom: 1px solid rgb(239, 164, 39) !important;
    box-shadow: 0 1px 0 0 rgb(239, 164, 39) !important;
}

#date input.valid {
    border-bottom: 1px solid rgb(239, 164, 39) !important;
    box-shadow: 0 1px 0 0 rgb(239, 164, 39) !important;
}

#time input.valid {
    border-bottom: 1px solid rgb(239, 164, 39) !important;
    box-shadow: 0 1px 0 0 rgb(239, 164, 39) !important;
}

/* invalid input styles */
.input-field input.invalid {
    border-bottom: 1px solid #dfdfdf !important;
    box-shadow: 0 1px 0 0 #dfdfdf !important;
}

#date input.invalid {
    border-bottom: 1px solid #dfdfdf !important;
    box-shadow: 0 1px 0 0 #dfdfdf !important;
}

#time input.invalid {
    border-bottom: 1px solid #dfdfdf !important;
    box-shadow: 0 1px 0 0 #dfdfdf !important;
}

/* Psuedo Styles */
.navBtn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.navBtn:focus {
    outline: none;
    background: rgba(239, 164, 39, 0.8) !important;
}

.month-next:focus {
    outline: none;
    background: none;
}

.month-prev:focus {
    outline: none;
    background: none;
}